.paper {
    display: flex;
    flex-wrap: wrap;
    align-self: center;
    text-align: center;
    justify-content: center;
    margin: 5%;
    /*width: 45%;*/
    padding: 8px;
}

.paperContent {
    font-size: calc(4px + 1.5vmin);
    text-align: left;
}

.mainPage {
    display: flex;
    align-items: stretch;
    justify-content: center;
    color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: fixed;
}