.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #282c34;
}

.container {
  flex: 1 1 auto;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  margin: auto;
  width: 75%;
  text-align: left;
  background-color: #474e56;
}

.paper {
  display: flex;
  flex-wrap: wrap;
  align-self: center;
  text-align: center;
  justify-content: center;
  margin: 5%;
  width: 25%;
  padding: 8px;
  /*height: 256px;*/
}

.content {
  font-size: calc(4px + 1.5vmin);
  text-align: left;
}